@charset "UTF-8";

/*--基本--*/

.widget_map.width_full .content_wrapper{
    padding: 0 0;
}
.widget_map iframe{
    display: block;
    width: 100%;
    height: 450px;
}
.widget_map.width_full:last-child{
    margin-bottom: 0;
}
